// Sys.vm
// Student ID: 201860766

// Sys.computeParity
function Sys.computeParity 1
    push 0          
    push argument 0 
    push 15         
    label LOOP
        push 1      
        and         
        eq 1        
        add         
        push 2      
        mod         
        push 0
        eq          
        not         
        push 1
        add         
        xor         
        pop local 0  
        push argument 0 
        push 1
        arithmetic shift right 1
        pop argument 0
        push local 0 
        pop local 0  
    label END
    push local 0   
    return


// Sys.xor
function Sys.xor 2
    push argument 0 
    push argument 1 
    or             
    push argument 0
    push argument 1
    and            
    not            
    and           
    return




// Sys.shiftLeft
function Sys.shiftLeft 2
    push argument 0 
    push argument 1 
    push 0          
    label SHIFT_LOOP
        push argument 1
        push 0
        eq          
        if-goto END_SHIFT
        push argument 0
        push argument 0
        add         
        pop argument 0
        push argument 1
        push 1
        sub         
        pop argument 1
        goto SHIFT_LOOP
    label END_SHIFT
    push argument 0 
    return




// Sys.encode
function Sys.encode 1
    push argument 0 
    call Sys.computeParity 1 
    push argument 0 
    push 32768      
    push 0          
    pop local 0
    push local 0
    eq 1            
    if-goto SET_PARITY
    label CLEAR_PARITY
        push argument 0
        push 32767   
        and         
        goto END_ENCODE
    label SET_PARITY
        push argument 0
        push 32768
        or          
    label END_ENCODE
    return